@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(84, 193, 81, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(84, 193, 81, 0),
      0 0 0 20px rgba(84, 193, 81, 0.4), 0 0 0 30px rgba(84, 193, 81, 0.2),
      0 0 0 40px rgba(84, 193, 81, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(84, 193, 81, 0);
  }
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(84, 193, 81, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px rgba(84, 193, 81, 0.3),
      0 0 0 10px rgba(84, 193, 81, 0.2), 0 0 0 15px rgba(84, 193, 81, 0.1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(84, 193, 81, 0);
  }
}
